html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Prompt', sans-serif;
}

.nav-item{
    transition: .2s all;
}
.nav-item:hover,.navbar-brand:hover{
    transform: scale(105%);
}

h2{
    text-align: center;
    font-size: 40px;
    margin-top: 20vh;
    margin-bottom: 5vh;
    
    

}

.navbar{
    background-color: tomato;
}

.carousel-container{
    margin: 0;
    display: flex;
    justify-content: center;


}
.carousel{
    max-width: 50vw;

    

    /* border: 7px solid tomato;
    border-radius: 10px; */
}
.carousel-img{
    border-radius: 10px;
    filter: brightness(70%);
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 40vw;
}

.form-select{
    max-width: 10vw;
    align-self: center;
    margin-bottom: 1.5vh;
    padding: 16px;
    border: 1px solid tomato;
}
.form-control{
    border-color: tomato;
}
.form-control:focus{
    outline-color: tomato !important;
    outline: none !important;
    

}

.filter-container{
    display: flex;
    justify-content: center;
}

.search-button{
    display: flex;
    justify-content: center;
}

#search-button{
    background-color: tomato;
    outline: none !important;
    border: none;
    
}