html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Prompt', sans-serif;
}

.nav-item{
    transition: .2s all;
}
.nav-item:hover,.navbar-brand:hover{
    transform: scale(105%);
}

h2{
    text-align: center;
    font-size: 40px;
    margin-top: 20vh;
    margin-bottom: 5vh;
    
    

}

.navbar{
    background-color: tomato;
}

.carousel-container{
    margin: 0;
    display: flex;
    justify-content: center;


}
.carousel{
    max-width: 50vw;
}
.carousel-inner{
    border-radius: 10px;
}
.carousel-img{
    /* border-radius: 10px; */
    filter: brightness(70%);
}
.active{
    background-color: tomato;
    
    
}
.carousel-indicators [data-bs-target] {
    background-color: tomato;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 40vw;
}

.form-select{
    max-width: 10vw;
    align-self: center;
    margin-bottom: 1.5vh;
    padding: 16px;
    border: 1px solid tomato;
}
.form-control{
    border-color: tomato;
}
.form-control:focus{
    outline-color: tomato !important;
    outline: none !important;
    

}

.filter-container{
    display: flex;
    justify-content: center;
}

.search-button{
    display: flex;
    justify-content: center;
}

#search-button{
    background-color: tomato;
    outline: none !important;
    border: none;
    
}

.faq-container{
    justify-content: center;
    
    
}
.accordion{
    gap: 0 !important;
    margin: 0;
    margin: 0 !important;
    /* border: 1px solid tomato; */
    border-radius: 10px;
}

.accordion h2{
    margin: 0;
    
}
.accordion:focus, .accordion-button:focus, .accordion-header:focus{
    outline:none;
    box-shadow: none;
    /* color: transparent; */
    background-color: transparent;
}
.accordion{

}
.accordion-item{
    border: 1px solid tomato;
}

.table{
    max-width: 50vw;
    border-color: rgba(255, 99, 71, 0.595);
}

.service-container{
    display: flex;  
    justify-content: center;
    align-items: center;
    transition: .5s all;
}
.service-container:hover{
    transform: scale(110%);
}

.list-group{
    margin-bottom: 2vh;
    margin-left: 2vw;
    border-color: tomato;
}
.list-group-item{
    border-color: tomato;
}


.modal-close-button{
    background-color: tomato;
    transition: 1s all;
}

.modal-close-button:hover{
    transform: scale(105%);
    
}